

<div class="row" style="margin:100px">

	<%@region_json.each do |e| %>
		
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-warning">
				<div class="panel-heading text-center"><%=e['region']%></div>
				<div class="panel-body" style="text-align: center">
					<img id='<%=e['region']%>_img'/> <h2><div id='<%=e['region']%>_degree'></div></h2>
					
				</div>
			</div>					
		</div>
	<%end%>
</div>
<script>

	var region = ["Seoul","Chuncheon","Gangneung","Daejeon","Cheongju","Daegu","Gwangju","Jeonju","Busan","Ulleung","Jeju"];

	$(document).ready(function(){
		for(r in region){
			request_degree(region[r]);
			console.log(region[r])

		}
	});

	function requst_img(region, url){
		var img_url = "http://openweathermap.org/img/w/"+url+".png"
		$('#'+region+'_img').attr("src",img_url);
	}

    function request_degree(region){

    	var url = "http://api.openweathermap.org/data/2.5/weather?q="+region+"&appid=4321a224e1d0872c47a3c11a67ac40ea";
    	
		// console.log('#'+region+'_degree')

    	$.get(url, function(data, status){
	        var degree = (data.main.temp-273).toFixed(2);
	        $('#'+region+'_degree').html(degree+"℃");
    		
    		var url = data.weather[0].icon;
    		requst_img(region, url);

	    });
    }
	
</script>
<!-- <div class="container" style="margin:20px">
	<div class="row">
		<button onclick="myFacebookLogin()">Login with Facebook</button>
		
		<div class="form-group">
		  <label for="usr">내용:</label>
		  <input type="text" class="form-control" id="usr">
		  <button onclick="post()">전체 공개로 올리기</button>
		  <button onclick="selfpost()">나만 보기로 올리기</button>
		 
		</div>
		

		<form action = '/post' method='post'>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>
    </div>





   





    <div class="container">
		<h3>서울</h3>
		<h3> 
			<%=@seoul_res.to_s%>
		</h3>
		<h3>인천</h3>
		<h3> 
			<%=@incheon_res.to_s%>
		</h3>
	</div>
	

</div> -->





